@font-face {
  font-family: 'Inter';
  src: url('../assets/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/Inter-SemiBold.ttf');
  font-weight: 600;
}

:root {
  --grey-dk: #414141;
  --grey-lt: #f0f0f0;
  --main: #3c4ce3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--grey-lt);
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

header,
footer {
  color: white;
  text-align: center;
  background-color: var(--grey-dk);
  padding: 1rem;
}

footer img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  position: relative;
  bottom: 2px;
}

footer a {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

button {
  padding: 12px;
  min-width: 122px;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

button.hidden {
  visibility: hidden;
}

button.main {
  color: white;
  background-color: var(--main);
}

button.second {
  color: black;
  background-color: var(--grey-lt);
}

button:hover {
  opacity: 0.75;
}

button.center {
  display: block;
  margin: auto;
}

button.outline {
  border: solid 1px #f0f0f0;
  background-color: white;
  width: min(240px, 100%);
}

button.small {
  font-size: 14px;
  padding: 10px 14px;
  min-width: unset;
}
