.preview {
  background-color: white;
  width: min(100%, 957px);
  aspect-ratio: 1 / 1.414;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
}

.preview-sidebar {
  grid-row: 1 / span 2;
  background-color: #edeef3;
  padding: 38px;
}

.preview-sidebar .photo-wrapper {
  width: 100%;
  margin-bottom: 38px;
  aspect-ratio: 300 / 400;
  background-color: #818181;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.preview-sidebar .photo-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.preview-sidebar-tab {
  margin-bottom: 26px;
}

.preview-header {
  background-color: #3c4ce3;
  margin-top: 78px;
  padding: 38px;
}

.preview-header h1 {
  color: white;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 6px;
}

.preview-header h2 {
  color: #a4abeb;
  font-size: 24px;
  font-weight: 400;
}

.preview-main {
  margin-top: 64px;
  padding: 38px;
}

.preview-main-section .unit {
  margin-bottom: 20px;
}

.preview-main h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.preview-main hr {
  border: solid 1px #f0f0f0;
  margin: 32px 0;
}

.preview p,
.preview ul {
  line-height: 150%;
  margin-bottom: 4px;
}

.preview p.small {
  color: #818181;
  font-size: 12px;
  margin-bottom: 0;
}

.preview ul {
  padding-left: 20px;
}

.preview-control-bar {
  background-color: white;
  width: min(100%, 957px);
  padding: 16px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  display: flex;
  justify-content: space-between;
}
