@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  font-family: 'Inter', Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: #f0f0f0;
}

.App {
  max-width: 730px;
  margin: 2rem auto;
  padding: 20px 20px 32px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.form-section {
  margin-bottom: 32px;
}

.form-section h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.form-section > div {
  margin-bottom: 24px;
}

.form-section label {
  font-size: 16px;
  display: block;
  margin-left: 4px;
  margin-bottom: 6px;
}

.form-section label .details {
  color: #aaaaaa;
}

.form-section input,
.form-section textarea {
  font-size: 100%;
  width: 100%;
  padding: 12px;
  border: solid 2px #dcdcdc;
  border-radius: 4px;
}

.form-section textarea {
  resize: none;
  line-height: 150%;
}
